* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px; 
}

body{
  background: radial-gradient(circle, #0b7593f1 0%, #131313 100%)

}

.admin-text {
  display: inline-block;
  margin-left: 10px; 
  font-size: 35px;
  font-family: 'Raleway Semibold';
  color:#7a817f
  
}

h1{

  color: rgb(0, 0, 0);
  font-size: xx-large;
}

h2{

  color: rgb(1, 15, 14);
  
}

.user-cart span{
    background-color:red; 
    padding-right:3px; 
    padding-left:3px;  
    border-radius:10px; 
    font-size:18px;
    margin-left:-1.2rem;
}

/***********dashboard styling **********/
  .card{
      background-color: #417958fa;
      padding:20px;
      margin: 40px;
      border-radius: 40px;
  }



  /* The sidebar menu */
  .sidebar {
      height: 10%; 
      width: 100;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #279277fc; 
      overflow-x: hidden;
      padding-top: 60px; 
      transition: 0.5s; 
    }
    
    /* The sidebar links */
    .sidebar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 22px;
      color: #ffffff;
      display: block;
      transition: 0.3s;
    }
    
    .sidebar .side-header{
          margin-left: 30px;
          margin-bottom: 8px;
          color: #fff;
      }

    /* When mouse over the navigation links, change their color */
    .sidebar a:hover {
      background-color: #053025;
    }
    
    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 2px;
      font-size: 34px;
      margin-left: 50px;
    }
    
    /* The button used to open the sidebar */
    .openbtn {
      font-size: 20px;
      cursor: pointer;
      padding: 10px 15px;
      border: none;
      color: #fcfcfcbd;
      background-color:#1b4740;
    }
    
    
    #main {
      transition: margin-left .5s; 
      padding: 20px;
    }
    

/**************************  table styling *********************************/
.btn-update {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}

.btn-delete {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}

.btn-home {
    background-color: #007bffab;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: small;
    text-decoration: none;
    border-radius: 5px;
}

  table {
    margin:0 auto;
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(83, 147, 115, 0.66);
    border-radius: 12px 12px 0 0;
    margin-bottom: 30px;
    
  }

  td,
  th {
    padding: 7px 16px;
    text-align: center;
    border-left: 1px solid #313131;
  }

  th {
    background-color: #000000d0;
    color: #fafafa;
    font-family:'Raleway Semibold';
    font-weight:lighter;
  }

  tr {
    width: 100%;
    background-color: #fafafa;
    font-family:'Times New Roman', Times, serif;
  }

  tr:nth-child(even) {
    background-color: #eeeeee;
  }


